* {
    margin: 0;
    padding: 0;
}

.containerVideogameCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2%;
    padding-bottom: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.background {
    width: 100%;
    min-height: 100vh;
    background-image: url('https://wallpaperaccess.com/full/625497.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.ordenamientosYFiltros {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    padding-top: 50px;
}

.selectSortingOrFilter {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    border: 2px solid rgb(58, 159, 185);
    color: rgb(255, 255, 255);
}

.selectSortingOrFilter:hover {
    cursor: pointer;
}

.reloadButton {
    border-radius: 10px;
    height: 30px;
    width: 200px;
    background-color: #000000;
    border: 2px solid rgb(58, 159, 185);
    color: white;
}

.reloadButton:hover {
    cursor: pointer;
}

.ordenamientos {
    display: flex;
    gap: 25px;
}

.filtros {
    display: flex;
    gap: 25px;
}

.errorMessage {
    color: white;
    padding: 10px;
}

.errorContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    border: 3px solid rgb(246, 246, 246);
    border-radius: 10px;
    background-color: #000000;
    width: 100%;
    margin-left: 205%;
}

.Createg1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 0 15px rgb(31, 110, 119), 0 0 5px rgb(31, 110, 119), 0 0 5px rgb(255, 255, 255), 0 0 5px rgb(31, 110, 119);
    animation: parp 2s infinite backwards;
    text-decoration: none;
}


.Createg2 {
    padding-bottom: 40px;
    font-size: 40px;
}

@media (min-width: 1px) and (max-width: 500.98px) {

    .ordenamientosYFiltros,
    .filtros,
    .ordenamientos {
        display: flex;
        flex-direction: column;
    }
}