.cardDiv{
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    width: 170px;
    height: 200px;
    padding: 20px;
    background-color: #22223B;
    border-radius: 10px;
}

.cardH3{
    text-decoration: none;
    color: white;
    font-weight: bolder;

}

h4{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    font-weight: bolder;
    color: white;
}

h3{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    font-weight: bolder;
}

img{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px;
    border: 2px solid white;
    border-radius: 10px;
    height: 140px;
}

h5{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    font-weight: bolder;
    color:white
}