.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    object-fit: cover;
    background-image: url('https://wallpaperaccess.com/full/625497.jpg');
    background-size: cover;
}

.platformLabelsContainer {
    display: flex;
    width: 40%;
    margin: 10px;
    height: 26px;
}

.select {
    width: 100%;
    border-radius: 10px;
}

.createButton {
    line-height: 2.5;
    width: 100px;
    height: 35px;
    background-color: white;
    border-radius: 20px;
}

.labels {
    margin: 8px;
    color: white;
    line-height: 2.5;
}

.error {
    color: red;
}

.platformsAndGenresSelected {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 10px;
    color: white;
}

.deleteGenreOrPlatform {
    display: flex;
    justify-content: center;
    text-align: center;
}

.deleteGenreOrPlatform:hover {
    color: red;
}

.deleteGenreOrPlatform:hover {
    cursor: pointer;
}

.formInput {
    border-radius: 10px;
    width: 765px;
    height: 26px;
}

.deleteText {
    color: white;
}

.buttonCancel {
    cursor: pointer;
    line-height: 2.5;
    width: 100px;
    height: 35px;
    background-color: rgb(240, 29, 29);
    color: white;
    margin-right: 20px;
    border-radius: 20px;
}

.buttonCancel:hover {
    background-color: rgb(216, 78, 35);
    transform: scale(1.02, 1.02);
}

input {
    width: 100%;
    line-height: 1.8;
}

input::placeholder {
    color: rgb(5, 5, 5);
}


.errorsRed {
    color: red
}