.paginadoContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-bottom: 20px;
}

.paginadoItem{
    border: 2px solid rgb(71, 206, 251);
    padding: 8px;
    background-color: #000000;
    border-radius: 7px;
    color: rgb(255, 255, 255);
}

li:hover{
    cursor: pointer;
}