.paginadoContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding-bottom: 20px;
}

.paginadoItem{
    border: 2px solid rgb(60, 133, 161);
    padding: 5px;
    background-color: #22223B;
    border-radius: 5px;
    color: rgb(255, 255, 255);
}

li:hover{
    cursor: pointer;
}